/* CONTACTO */

.tituloContacto {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: $color-rosado;

}

.buttonContacto {
    padding-top: 10px;
    padding: 10px;
}

.mapaConsecionaria {
    width: 100px;
    height: 100px;
}